#nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(rgb(73, 151, 202), green, blue);
}

#title-div {
    flex: 20%;
}


#nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 40%;
}